
<h1>5d4</h1>

<ul>
    <li>
      <%=@first_dice%>
    </li>
    <li>
      <%=@second_dice%>
    </li>
    <li>
      <%=@third_dice%>
    </li>
    <li>
      <%=@forth_dice%>
    </li>
    <li>
      <%=@fifth_dice%>
    </li>
</ul>
